<div class="ion-client" id="main-content">
  <ion-header>
    <ion-toolbar>
      <ion-buttons  color="purplish" slot="start">
        <ion-back-button  color="purplish" defaultHref="/tayeur"></ion-back-button>
      </ion-buttons>
      <ion-title  color="purplish">Employes</ion-title>
    </ion-toolbar>
  </ion-header>
</div>

<ion-content>
  <div class="box">
    <h2>Nouveau Employé</h2>
  <br>
    <ion-item class="inputBox">
      <ion-label position="floating">Numero de téléphone</ion-label>
      <ion-input type="number"></ion-input>
  </ion-item>
  <ion-item class="inputBox">
    <ion-label position="floating">Nom</ion-label>
    <ion-input type="text"></ion-input>
  </ion-item>
  <ion-item class="inputBox">
    <ion-label position="floating">Mot de passe</ion-label>
    <ion-input type="password"></ion-input>
  </ion-item>
  <ion-item>
    <ion-button  color="purplish">AJOUTER </ion-button>
  </ion-item>
  <br>
  <ion-item class="inputListe">
    <ion-label>Liste des employés</ion-label>
  </ion-item>
</div>
</ion-content>