.ion-client{
    --ion-background-color:   white;
}
ion-back-button{
    color: indigo;
  }
  ion-title{
    color: indigo;
  }
.box{
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    padding: 50px;
    background:  white;
    
}
.box h2{
    margin: 0 0 30px;
    padding: 0;
    color: indigo;
    text-align: center;
}
.box ion-item {
    color: indigo;
    background: transparent;
    border: none;
    outline: none;
}
ion-button{
    background:indigo;
}