<ion-app>
  <div class="ion-client" id="main-content">
    <ion-header>
      <ion-toolbar>
        <ion-buttons slot="start">
          <ion-back-button defaultHref="/tayeur.page"></ion-back-button>
        </ion-buttons>
        <ion-title >Client</ion-title>
      </ion-toolbar>
    </ion-header>
  </div>
    <ion-content class="ion-padding" id="image">
      <div class="box">
        <h2>Nouveau Client</h2>
      <br>
      <ion-item class="inputBox">
        <ion-label position="floating">Prénom</ion-label>
        <ion-input type="text"></ion-input>
      </ion-item>
      <ion-item class="inputBox">
        <ion-label position="floating">Nom</ion-label>
        <ion-input type="text"></ion-input>
      </ion-item>
      <ion-item class="inputBox">
        <ion-label position="floating">Numero de téléphone</ion-label>
        <ion-input type="number"></ion-input>
      </ion-item>
      <ion-item>
        <ion-button  color="purplish">AJOUTER </ion-button>
      </ion-item>
      <br>
      <ion-item class="inputListe">
        <ion-label>Liste des clients</ion-label>
      </ion-item>
    </div>
    </ion-content>
</ion-app>
