.ion-client{
    --ion-background-color:  white;
}
ion-back-button{
    color: indigo;
  }
  ion-title{
    color: indigo;
  }
.butt{
    padding-top: 90% ;
    padding-left: 70%;
}
ion-content{
    --ion-background-color: white  ;
}
ion-button{
    background: indigo;
}