<div class="ion-client" id="main-content">
  <ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button defaultHref="/tayeur"></ion-back-button>
      </ion-buttons>
      <ion-title>Commandes</ion-title>
    </ion-toolbar>
  </ion-header>
</div>

<ion-content> 
  <ion-button color="purplish" shape="round">
    <ion-icon name="refresh-outline"></ion-icon>
  </ion-button>
  <div class="butt">
  <ion-button  routerLink="/ajout-command"  color="purplish"  shape="round">
    <ion-icon name="add"></ion-icon>
  </ion-button>
</div>
</ion-content>
