<ion-content>
  <div class="padding">
    <ion-item >
      <ion-img src="../assets/img/tay.jpg"></ion-img>
    </ion-item>  
    <ion-item lines="none" >
      <ion-text ><p>Tayeur vous donne un espace pour enregistrer vos 
        clients en plus elle permet de consercver vos commandes sous format numerique de ce 
        fait vous ne les perdrez pas.</p>
      </ion-text>
    </ion-item>
 
      <br>
      <ion-button routerLink="/connexion" color="reddish" fill="outline"  shape="round" expand="block">CONNEXION</ion-button>
    
      <br>
    <ion-button  routerLink="/inscription" color="greenish" fill="outline"  shape="round" expand="block"> INSCRIPTION</ion-button>
  </div>
  </ion-content>